/* Size the conversatin and input area */
[class*="xl:max-w-["] {
    max-width: none !important;
}

/* Use monospace font for human text input-box and prior human-text rows */
[class*="xl:max-w-["] textarea {
    font-family: 'Courier New', monospace !important;
    max-width: none !important;
}
